<ion-modal-view>
  <ion-header-bar class="bar-positive">
    <div class="buttons" ng-if="dash.getSessionState() !== 'Session Started'">
      <button class="button" ng-click="dash.cancelSession()">Cancel</button>
    </div>
  </ion-header-bar>
  <ion-content scroll="false">
    <div class="row">
      <div class="col text-center">
        <h4>{{dash.getSessionState()}}</h4>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <ion-spinner icon="spiral"></ion-spinner>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
