<ion-modal-view>
  <ion-header-bar class="bar-positive">
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button" ng-click="hideLogin()">Cancel</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="row">
      <div class="col">
        <formly-form model="core.login" fields="core.fields.login"></formly-form>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <button class="button button-balanced icon-left ion-key" ng-click="core.auth(core.login)">Login</button>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
